body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
#content {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--gap);

  #create-container {
    display: flex;
    gap: var(--gap);
  }

  select,
  button,
  input {
    width: 100%;
    box-sizing: border-box;
  }
  input[type=password] {
    text-align: center;
  }
  input[type=password]:invalid {
    border: 2px solid red;
    outline: none;
  }
  input[type=password]:valid {
    border: 2px solid green;
  }
  select {
    text-align: center;
  }
  select:empty {
    display: none;
  }
  span {
    align-self: center;
  }
}

footer {
  text-align: end;
}

.two {
  display: grid;
  grid-template-columns: 1fr 0;
  width: 100%;
  overflow: hidden;

  #keepasshelper {
    background: url('keepasshelper.png') no-repeat center center;
    background-size: 16px;
  }

  &.available {
    grid-template-columns: 1fr 32px;
  }
}
